
    <!-- 底部
    ================================================== -->
    <footer>
        <div id="footer-layout">
            <nav id="navfooter">
                <ul id="lieb">
                    <li><a href="{:U('Index/about')}">关于我们</a></li>
                    <li>|</li>
                    <li><a href="{:U('Index/hackuseagreement')}">平台使用许可协议</a></li>
                    <li>|</li>
                    <li><a href="{:U('Index/hackmgrdoument')}">运营规范</a></li>
                    <li>|</li>
                    <li><a href="{:U('Index/safedoument')}">安全中心</a></li>
                    <li>|</li>
                    <li><a href="{:U('Index/servicedoument')}">客服中心</a></li>
                </ul>
            </nav>
            <div id="dibu">Copyright © 2015 云南楠儿投资咨询有限公司版权所有 备案：滇ICP备15006443号</div>
            <div id="dibu">云南慧爱大学生创业就业服务中心运营
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257179834'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257179834%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
        </div>
    </footer>
    <!-- 页面footer钩子，一般用于加载插件CSS文件和代码 -->
    {:hook('pageFooter')}
    <block name="script"></block>