<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/member-center.css" rel="stylesheet">
    <link href="__CSS__/choose-head.css" rel="stylesheet">
    <link href="__CSS__/makerindex.css" rel="stylesheet">
    <link href="__CSS__/makercoupon.css" rel="stylesheet">
</block>
<block name="javascript">
    <script type="text/javascript" src="__JS__/size-color.js"></script>
    <script type="text/javascript" src="__JS__/coupon.js"></script>
</block>

<block name="side"></block>

<block name="body">
<div id="content-layout">
<div id="left-layout"></div>
<div id="centre-layout">
<include file="User:header"/>
<div id="user-content">
    <div id="user-nav">
        <span>创客时空</span>
    </div>
    <div class="mgrcenter">
        <include file="User:makerleft"/>
        <div id="settings-content">
            <div class="am-tabs" data-am-tabs>
                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                        <div id="tab1-content">
                            <div class="discount-coupon">
                                <div class="discount-coupon-head">
                                    <i></i>
                                    <span>制作与发布</span>
                                    <div class="discount-coupon-head-btn">
                                        <a href="#" onclick="opencouponnew()">制作优惠券</a>
                                    </div>
                                </div>
                                <div class="discount-coupon-body">
                                    <i></i>
                                    <span>我的优惠卷</span>
                                    <volist name="list" id="vocoupon">
                                    <div class="discount-coupon-body-ticket">
                                        <div class="<if condition="$vocoupon['tplid'] eq 1">ticket-redleft<elseif condition="$vocoupon['tplid'] eq 2"/>ticket-yellowleft<else/>ticket-blueleft</if>">
                                            <div class="<if condition="$vocoupon['tplid'] eq 1">ticket-redright<elseif condition="$vocoupon['tplid'] eq 2"/>ticket-yellowright<else/>ticket-blueright</if>">
                                                <div class="ticket-logo">
                                                    <img src="{$vocoupon['logopath']}" alt=""/>
                                                </div>
                                                <div class="ticket-left">
                                                    <div class="ticket-name">
                                                        <span>{$vocoupon['shopname']}</span>
                                                    </div>
                                                    <div class="ticket-date">
                                                        <span>使用期限</span>
                                                        <span>{$vocoupon['begindate']}至{$vocoupon['enddate']}</span>
                                                    </div>
                                                </div>
                                                <div class="ticket-money">
                                                    <span>{$vocoupon['couponvalue']}</span>
                                                    <span>元优惠券</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ticket-bottom">
                                            <span>总数：{$vocoupon['total']}张</span>
                                            <span>已领：{$vocoupon['geted']}张</span>
                                            <span>未领：{$vocoupon['unget']}张</span>
                                            <a href="/User/makercouponsend?cupid={$vocoupon['id']}">发券</a>
                                        </div>
                                    </div>
                                    </volist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<div class="am-modal am-modal-alert" tabindex="-1" id="make-coupon">
    <div class="am-modal-dialog">
        <input type="hidden" id='shopid' value="{$shopid}">
        <div class="am-modal-bd">
            <div class="group-coupon">
                <span>金额</span>
                <input type="text" id="couponvalue" placeholder="单位：元"/>
            </div>
            <div class="group-coupon">
                <span>数量</span>
                <input type="text" id="couponcount" placeholder="单位：张"/>
            </div>
            <div class="group-coupon-date">
                <span>期限</span>
                <input type="text" id="begindate" class="am-form-field" placeholder="开始日期" data-am-datepicker readonly required />至
                <input type="text" id="enddate" class="am-form-field" placeholder="结束日期" data-am-datepicker readonly required />
            </div>
            <div class="group-coupon-xuan">
                <span>模板</span>
                <input type="radio" name="tplid" value="1" checked /><i class="group-coupon-red"></i>
                <input type="radio" name="tplid" value="2"/><i class="group-coupon-yellow"></i>
                <input type="radio" name="tplid" value="3"/><i class="group-coupon-blue"></i>
            </div>
        </div>
        <div class="am-modal-footer">
            <button class="am-modal-btn cancel">取消</button>
            <button class="am-modal-btn ok" onclick="addcoupon()">确定</button>
        </div>
    </div>
</div>


</block>