    <ul id="user-leftbar">
        <li class="message-settings <eq name='ACTION_NAME' value='makerhandbook'>settings-active</eq>">
            <a class="message-settings-hover" href="{:U('User/makerhandbook')}">
                <h3>创客手册&nbsp;&nbsp;>
                    <span>如何使用创客&nbsp;</span>
                </h3>
            </a>
        </li>
        <li class="shop-settings <eq name='ACTION_NAME' value='makerevent'>settings-active</eq>">
            <a class="shop-settings-hover" href="{:U('User/makerevent')}">
                <h3>慧爱活动&nbsp;&nbsp;></h3>
            </a>
        </li>
        <li class="message-settings <eq name='ACTION_NAME' value='makermessages'>settings-active</eq>">
            <a class="message-settings-hover" href="{:U('User/makermessages')}">
                <h3>消息管理&nbsp;&nbsp;>
                    <span>服务通知&nbsp;活动通知</span>
                    <span>派单通知</span>
                </h3>
            </a>
        </li>
        <li class="shop-settings <eq name='ACTION_NAME' value='makerhcoin'>settings-active</eq>">
            <a class="shop-settings-hover" href="{:U('User/makerhcoin')}">
                <h3>慧爱币&nbsp;&nbsp;></h3>
            </a>
        </li>
        <li class="shop-settings <eq name='ACTION_NAME' value='makerachievement'>settings-active</eq>">
            <a class="shop-settings-hover" href="{:U('User/makerachievement')}">
                <h3>创客成就&nbsp;&nbsp;></h3>
            </a>
        </li>
        <li class="shop-settings <eq name='ACTION_NAME' value='makerprivilege'>settings-active</eq>">
            <a class="shop-settings-hover" href="{:U('User/makerprivilege')}">
                <h3>创客特权&nbsp;&nbsp;></h3>
            </a>
        </li>
        <li class="account-settings <eq name='ACTION_NAME' value='makercoupon'>settings-active</eq>">
            <a class="account-settings-hover" href="{:U('User/makercoupon')}">
                <h3>卡券管理&nbsp;&nbsp;>
                    <span>优惠券</span>
                </h3>
            </a>
        </li>
        <li class="shop-settings <eq name='ACTION_NAME' value='makercart'>settings-active</eq>">
            <a class="shop-settings-hover" href="{:U('User/makercart')}">
                <h3>购物车&nbsp;&nbsp;></h3>
            </a>
        </li>
        <li class="acknowledgement-settings <eq name='ACTION_NAME' value='makerorders'>settings-active</eq>">
            <a class="acknowledgement-settings-hover" href="{:U('User/makerorders',array('status'=>3))}">
                <h3>订单管理&nbsp;&nbsp;>
                    <span>交易完成 &nbsp;&nbsp;&nbsp;&nbsp;待付款</span>
                    <span>待收货 &nbsp;&nbsp;&nbsp;&nbsp;待评价</span>
                </h3>
            </a>
        </li>
        <li class="message-settings <eq name='ACTION_NAME' value='makerstore'>settings-active</eq>">
            <a class="message-settings-hover" href="{:U('User/makerstore')}">
                <h3>店铺管理&nbsp;&nbsp;>
                    <span>店铺装修&nbsp;图片管理</span>
                    <span>店铺公告</span>
                </h3>
            </a>
        </li>
        <li class="shop-settings <eq name='ACTION_NAME' value='makercomments'>settings-active</eq>">
            <a class="shop-settings-hover" href="{:U('User/makercomments')}">
                <h3>评价管理&nbsp;&nbsp;></h3>
            </a>
        </li>
    </ul>