<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/member-center.css" rel="stylesheet">
    <link href="__CSS__/choose-head.css" rel="stylesheet">
    <link href="__CSS__/makerindex.css" rel="stylesheet">
    <link href="__CSS__/makerauth.css" rel="stylesheet">
</block>
<block name="javascript">
    <script type="text/javascript" src="__JS__/size-color.js"></script>
</block>

<block name="side"></block>

<block name="body">
    <div id="content-layout">
        <div id="left-layout"></div>
        <div id="centre-layout">
            <div id="user-header">
                <div class="three-block1">
                    <a href="{:U('User/makerregister')}" id="be-ck"></a>
                </div>
                <div class="three-block1">
                    <a href="{:U('User/index')}" id="be-member"></a>
                    <a href="{:U('User/index')}" id="member-name">Provence</a>
                </div>
                <div class="three-block1">
                    <a href="{:U('User/supplierregister')}" id="be-provider"></a>
                </div>
            </div>
            <div id="user-content">
                <div id="user-nav">
                    <span>创客时空</span>
                </div>
                <ul id="user-leftbar">
                    <li class="message-settings">
                        <a class="message-settings-hover" href="{:U('User/makermessages')}">
                            <h3>消息管理&nbsp;&nbsp;>
                                <span>服务管理&nbsp;活动通知</span>
                                <span>派单通知&nbsp;聊天记录</span>
                            </h3>
                        </a>
                    </li>
                    <li class="account-settings">
                        <a class="account-settings-hover" href="#">
                            <h3>卡券管理&nbsp;&nbsp;>
                                <span>消费积分&nbsp;优惠券</span>
                            </h3>
                        </a>
                    </li>
                    <li class="acknowledgement-settings">
                        <a class="acknowledgement-settings-hover" href="{:U('User/makerorders')}">
                            <h3>订单管理&nbsp;&nbsp;>
                                <span>待付款 &nbsp;&nbsp;待发货&nbsp;&nbsp;已发货</span>
                                <span>已收货 &nbsp;&nbsp;退款中&nbsp;&nbsp;已完成</span>
                                <span>已关闭 &nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </h3>
                        </a>
                    </li>
                    <li class="message-settings">
                        <a class="message-settings-hover" href="{:U('User/makerstore')}">
                            <h3>店铺管理&nbsp;&nbsp;>
                                <span>店铺装修&nbsp;图片管理</span>
                                <span>店铺公告</span>
                            </h3>
                        </a>
                    </li>
                    <li class="shop-settings">
                        <a class="shop-settings-hover" href="#">
                            <h3>会员特权&nbsp;&nbsp;></h3>
                        </a>
                    </li>
                    <li class="shop-settings">
                        <a class="shop-settings-hover" href="{:U('User/makerhcoin')}">
                            <h3>慧爱币&nbsp;&nbsp;></h3>
                        </a>
                    </li>
                    <li class="shop-settings">
                        <a class="shop-settings-hover" href="{:U('User/makercomments')}">
                            <h3>评价管理&nbsp;&nbsp;></h3>
                        </a>
                    </li>
                </ul>
                <div id="settings-content">
                    <div class="am-tabs" data-am-tabs>
                        <ul class="am-tabs-nav am-nav am-nav-tabs">
                            <li class="am-active"><a href="#tab1">认证管理</a></li>
                        </ul>

                        <div class="am-tabs-bd">

                            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                <div id="tab1-content">
                                    <div class="makerauth-head">
                                        <i></i>
                                        <span>恭喜您，认证成功</span>
                                    </div>
                                    <div class="makerauth-content">
                                        <span>真实姓名：余**</span>
                                        <span>身份证号：5346844681****461</span>
                                        <span>手机号码：135446****42</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</block>