<ul id="user-leftbar">
    <li class="account-settings">
        <a class="account-settings-hover <eq name='ACTION_NAME' value='index'>settings-active</eq>" href="{:U('User/index')}">
            <h3>账号管理&nbsp;&nbsp;>
                <span>账号设置&nbsp;账号绑定</span>
            </h3>
        </a>
    </li>
    <li class="message-settings">
        <a class="message-settings-hover <eq name='ACTION_NAME' value='mymessages'>settings-active</eq>" href="{:U('User/mymessages')}">
            <h3>消息管理&nbsp;&nbsp;>
                <span>服务通知&nbsp;派单通知</span>
            </h3>
        </a>
    </li>
    <li class="account-settings">
        <a class="account-settings-hover <eq name='ACTION_NAME' value='myconpo'>settings-active</eq>" href="{:U('User/mycoupon')}">
            <h3>卡券管理&nbsp;&nbsp;>
                <span>优惠券</span>
            </h3>
        </a>
    </li>
    <li class="shopcar-settings">
        <a class="shopcar-settings-hover <eq name='ACTION_NAME' value='myshopcart'>settings-active</eq>" href="{:U('User/myshopcart')}">
            <h3>购物车 &nbsp;&nbsp;&nbsp;&nbsp;>
                <span class="all-baobei">全部宝贝</span>
            </h3>
        </a>
    </li>
    <li class="message-settings">
        <a class="message-settings-hover <eq name='ACTION_NAME' value='myorders'>settings-active</eq>" href="{:U('User/myorders',array('status'=>3))}">
            <h3>订单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>
                <span>交易完成 &nbsp;&nbsp;&nbsp;&nbsp;待付款</span>
                <span>待收货 &nbsp;&nbsp;&nbsp;&nbsp;待评价</span>
            </h3>
        </a>
    </li>
    <li class="account-settings">
        <a class="account-settings-hover <eq name='ACTION_NAME' value='mybookmarks'>settings-active</eq>" href="{:U('User/mybookmarks')}">
            <h3>我的收藏&nbsp;&nbsp;>
                <span>宝贝 &nbsp;&nbsp;&nbsp;&nbsp; 店铺</span>
            </h3>
        </a>
    </li>
    <li class="shop-settings">
        <a class="shop-settings-hover <eq name='ACTION_NAME' value='myshopstores'>settings-active</eq>" href="{:U('User/myshopstores')}">
            <h3>购买过的店铺&nbsp;&nbsp;></h3>
        </a>
    </li>
</ul>