<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/member-center.css" rel="stylesheet">
    <link href="__CSS__/myproducts.css" rel="stylesheet">
    <link href="__CSS__/choose-products.css" rel="stylesheet">
</block>
<block name="javascript">
    <script type="text/javascript" src="__JS__/jquery.raty.min.js"></script>
    <script type="text/javascript" src="__JS__/prodcomment.js"></script>
</block>

<block name="side"></block>

<block name="body">
<div id="content-layout">
<div id="left-layout"></div>
<div id="centre-layout">
<include file="User:header"/>
<div id="user-content">
<div id="user-nav">
    <span>会员</span>
</div>
<div class="mgrcenter">
<include file="User:myleft"/>
<div id="settings-content">
<div class="am-tabs">
<ul class="am-tabs-nav am-nav am-nav-tabs orders">
    <li <eq name="item" value="3">class="am-active"</eq>><a href="{:U('User/myorders',array('status'=>3))}">交易完成</a></li>
    <li <eq name="item" value="0">class="am-active"</eq>><a href="{:U('User/myorders',array('status'=>0))}">待付款</a></li>
    <li <eq name="item" value="1">class="am-active"</eq>><a href="{:U('User/myorders',array('status'=>1))}">待发货</a></li>
    <li <eq name="item" value="2">class="am-active"</eq>><a href="{:U('User/myorders',array('status'=>2))}">待收货</a></li>
    <li <eq name="item" value="99">class="am-active"</eq>><a href="{:U('User/myorders',array('status'=>99))}">待评价</a></li>
    <li <eq name="item" value="4">class="am-active"</eq>><a href="{:U('User/myorders',array('status'=>4))}">交易撤消</a></li>
    <li <eq name="item" value="98">class="am-active"</eq>><a href="{:U('User/myorders',array('status'=>98))}">退款/售后</a></li>
</ul>

<div class="am-tabs-bd">

<div class="am-tab-panel am-fade am-in am-active <empty name='list'>emptybg</empty>" id="tab1">
    <div id="tab1-content">
        <notempty name="list">
        <volist name="list" id="voorder">
        <div class="buystroe-overall">
            <div class="buystroe-overall-head">
                <span>订单号:{$key}</span>
                <span><eq name="voorder.source" value="1">慧爱商城</eq></span>
                <span id="create{$voorder.id}">{$voorder.created}</span>
                <if condition="$item eq 1">
                    <eq name="voorder.after" value="0">
                        <div style="float:right"><button class="orderbtn" onclick="orderafter({$voorder['id']},'1')">退款</button></div>
                    </eq>
                </if>
                <if condition="$item eq 98">
                    <div style="float:right"><span class="tab-declare-span">{$voorder['aftername']}</span></div>
                </if>
                <if condition="$item eq 2">
                    <eq name="voorder.after" value="0">
                    <div class="count">
                        <div style="float:right">
                        <button class="orderbtn" onclick="orderafter({$voorder['id']},'2')">退货</button>
                        <button class="orderbtn" onclick="orderconfirm({$voorder['id']})">确认收货</button>
                        </div>
                    </div>
                    </eq>
                </if>
            </div>
            <div class="tab1-goods">
            <table class="am-table" id="table{$voorder['id']}">
            <volist name="voorder.products" id="voprod">
            <tr>
                <td class="count">
                    <span class="tab-declare-span">店铺：{$voprod['store']['name']}</span>
                </td>
                <td>
                    <a href="#"><img id="img{$voprod.id}" src="{$voprod.image}" alt=""/></a>
                </td>
                <td class="name">
                    <span class="tab-declare-span" id="name{$voprod.id}">{$voprod.name}</span>
                </td>
                <td class="spec">
                    <span class="tab-declare-span" id="spec{$voprod.id}">{$voprod.groupname}</span>
                </td>
                <td class="price">
                    <span class="tab-declare-span">金额：￥{$voprod.amount}</span>
                </td>
                <td class="count">
                    <span class="tab-declare-span">数量：{$voprod.quantity}</span>
                </td>
                <if condition="$item eq 3">
                <td class="opbtn">
                    <button class="orderbtn" onclick="orderdel({$voorder['id']})">删除</button>
                </td>
                </if>
                <if condition="$item eq 99">
                <td class="opbtn">
                    <button class="orderbtn" onclick="opencomment({$voprod['orderdetailid']},{$voprod.id},{$voorder['id']})">立即评价</button>
                </td>
                </if>
            </tr>
            </volist>
            </table>
            </div>
            <if condition="$item neq 4">
            <div class="buystroe-overall-foot">
                <span>实际支付：<i>￥{$voorder.amount}</i> (含运费)</span>
                <if condition="$item eq 0">
                <a class="orderbtn" href="" onclick="ordercancel({$voorder['id']})">撤消订单</a>
                <a class="orderbtn" href="/unionpay/frontconsume?orderId={$voorder.id}&txnAmt={$voorder.payamount}">立即支付</a>
                </if>
                <if condition="$item eq 2">
                <a class="orderbtn" href='#' onclick="openship({$voorder['id']})">查看物流</a>
                </if>
            </div>
            </if>
        </div>
        </volist>
        <else/>
        <div>没有任何记录</div>
        </notempty>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-comment">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <div class="tab1-goods-img1-nomargin">
                <a href="#">
                    <img id="commentimg" src="" alt=""/>
                </a>
            </div>
            <div class="tab1-goods-declare1">
                <span class="tab-declare-span-sm" id="commentname"></span>
            </div>
            <div class="tab1-goods-gettime">
                <span class="gettime-span-sm" id="commentdate"></span>
            </div>
            <div class="give-a-mark">
                <span class="give-a-mark-span"><i class="red-starico">*</i>评分：</span>
                <div class="demo">
                    <div id="default-demo"></div>
                </div>
            </div>
            <div class="give-a-remark">
                <span class="give-a-mark-span"><i class="red-starico">*</i>评语：</span>
                <textarea placeholder="请填写你对本产品的想法...   (1-125字)" name="commenttext" id="commenttext" cols="30" rows="6"></textarea>
            </div>
            <div class="add-a-comment">
                <input type="hidden" value="" id="commentorddetid">
                <button type="submit" onclick="commentadd()">发表评论</button>
            </div>
        </div>
    </div>
</div>

<div class="am-popup" tabindex="-1" id="doc-modal-send">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-popup-bd">
            <div class="logistics-details">
                <span>物流详情</span>
            </div>
            <div class="delivery-details-address">
                <p>
                    <span class="logistics-margin-span"></span>
                    <span class="logistics-margin-span2"></span>
                    <span class="logistics-none-span"></span>
                </p>
            </div>
            <div class="logistics-content">
                <div class="delivery-details-title">
                    <h2>您的包裹正在运输途中，请耐心等待......</h2>
                </div>
                <div class="delivery-details" id="all-delivery-details">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-return">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <div class="return-header">
                <span>订单号</span>
                <span><i class="red-starico">*</i>选择需退货商品</span>
                <span>下单时间</span>
            </div>
            <div class="return-header-class">
                <span>123546789</span>
                <div class="return-header-img">
                    <div class="sys_item_spec">
                        <dl class="clearfix iteminfo_parameter sys_item_specpara" data-sid="1">
                            <ul class="sys_spec_img">
                                <li data-aid="3"><a href="javascript:;" title="白色"><img src="__IMG__/return-product-imgsm.png" alt="白色" /></a><i></i></li>
                                <li data-aid="3"><a href="javascript:;" title="白色"><img src="__IMG__/return-product-imgsm.png" alt="白色" /></a><i></i></li>
                                <li data-aid="3"><a href="javascript:;" title="白色"><img src="__IMG__/return-product-imgsm.png" alt="白色" /></a><i></i></li>
                            </ul>
                        </dl>
                    </div>
                </div>
                <span>9月20日</span>
            </div>
            <div class="return-header-class2">
                <span><i class="red-starico">*</i>服务类型</span>
                <span><i class="red-starico">*</i>上传图片</span>
                <span><i class="red-starico">*</i>提交数量</span>
            </div>
            <div class="return-header-operate">
                <div class="return-header-operate-ipt">
                    <div class="operate-btn">
                        <select data-am-selected>
                            <option value="a">退货</option>
                            <option value="a">维修</option>
                            <option value="a">换货</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="return-header-upload">
                <div class="am-form-group am-form-file">
                    <button type="button" class="am-btn am-btn-danger am-btn-sm">
                        <i class="am-icon-cloud-upload"></i> 点击上传</button>
                    <input id="doc-form-file" type="file" multiple>
                </div>
            </div>
            <div class="return-header-minadd">
                <div class="tab1-goods-input">
                    <a href="#" class="tab1-goods-minus"></a>
                    <input type="text" class="tab1-goods-amount" value="1"/>
                    <a href="#" class="tab1-goods-add"></a>
                </div>
            </div>
            <div class="return-body-img">
                <span>（图片五张，格式JPG、PNG不大于1M）</span>
                <div class="return-img-frame">
                    <img src="__IMG__/return-product-imglg.png" alt=""/>
                    <img src="__IMG__/return-product-imglg.png" alt=""/>
                    <img src="__IMG__/return-product-imglg.png" alt=""/>
                    <img src="__IMG__/return-product-imglg.png" alt=""/>
                    <img src="__IMG__/return-product-imglg.png" alt=""/>
                </div>
            </div>
            <div class="return-body-cause">
                <textarea name="" cols="30" rows="10" placeholder="(*必填)请描述您的退货原由...    （1-520字）"></textarea>
            </div>
            <div class="return-confirmation-message">
                <p>
                    <span>申请凭据：有发票</span>
                    <span>顾客姓名：某某某</span>
                    <span>手机号码：13510000000</span>
                </p>
                <p>返回方式：快递至第三方卖家（返回地址将在服务单审核过后以短信形式告知，或在个人中心售后商品里查看）</p>
                <p>收货地址：云南省昆明市五华区高新区科医路59号云大科技楼5楼</p>
            </div>
            <div class="return-submit">
                <button>提交</button>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    $(function() {
        $.fn.raty.defaults.path = '__IMG__';

        $('#default-demo').raty();
    });
</script>

</block>