<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/member-center.css" rel="stylesheet">
    <link href="__CSS__/choose-head.css" rel="stylesheet">
    <link href="__CSS__/makerregister.css" rel="stylesheet">
    <link href="__CSS__/supplierregister.css" rel="stylesheet">
    <link href="__CSS__/progressmaker.css" rel="stylesheet">
</block>
<block name="javascript">
    <script type="text/javascript" src="__JS__/size-color.js"></script>
</block>

<block name="side"></block>

<block name="body">
    <div id="content-layout">
        <div id="left-layout"></div>
        <div id="centre-layout">
            <include file="User:header"/>
            <div id="user-content">
                <div id="user-nav">
                    <span>创客>></span>
                </div>
                <div id="settings-content">
                    <div class="am-tabs" data-am-tabs>
                        <ul class="am-tabs-nav am-nav am-nav-tabs">
                            <li><a href="#tab2">查看审核进度</a></li>
                        </ul>

                        <div class="am-tabs-bd">
                            <div class="am-tab-panel am-fade" id="tab2">
                                <div id="tab2-content">
                                    <div class="am-slider am-slider-default" data-am-flexslider="{slideshow: false,controlNav: false,directionNav: false}" id="demo-slider-0">
                                        <ul class="am-slides">
                                            <li>
                                                <div class="progressreview-head">
                                                    <span class="progress-span1">尊敬的郭XX您好：<span class="progress-span2">您的开店（入驻）申请，审核进度如下</span></span>
                                                </div>
                                                <div class="process-head1"></div>
                                                <div class="process-body">
                                                    <div class="get-entry">
                                                        <span class="get-entry-span">我们已接受到您对申请，请耐心等待！</span>
                                                    </div>
                                                    <div class="contact-us">
                                                        <h2 class="contact-us-h2">
                                                            联系我们:
                                                            <span>13888918732</span>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="progressreview-head">
                                                    <span class="progress-span1">尊敬的郭XX您好：<span class="progress-span2">您的开店（入驻）申请，审核进度如下</span></span>
                                                </div>
                                                <div class="process-head2"></div>
                                                <div class="process-body">
                                                    <div class="get-entry">
                                                        <span class="get-entry-span">正在审核您填写的信息的真实性，请耐心等待！</span>
                                                    </div>
                                                    <div class="contact-us">
                                                        <h2 class="contact-us-h2">
                                                            联系我们:
                                                            <span>13888918732</span>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="progressreview-head">
                                                    <span class="progress-span1">尊敬的郭XX您好：<span class="progress-span2">您的开店（入驻）申请，审核进度如下</span></span>
                                                </div>
                                                <div class="process-head3"></div>
                                                <div class="process-body">
                                                    <div class="get-entry">
                                                        <span class="get-entry-span">正在对您进行授权认证，请耐心等待！</span>
                                                    </div>
                                                    <div class="contact-us">
                                                        <h2 class="contact-us-h2">
                                                            联系我们:
                                                            <span>13888918732</span>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="progressreview-head">
                                                    <span class="progress-span1">尊敬的郭XX您好：<span class="progress-span2">您的开店（入驻）申请，审核进度如下</span></span>
                                                </div>
                                                <div class="process-head4"></div>
                                                <div class="process-body">
                                                    <div class="get-entry">
                                                        <span class="get-entry-span">恭喜您通过了我们的审核！</span>
                                                    </div>
                                                    <div class="login-immediately">
                                                        <button type="button">立即登录</button>
                                                    </div>
                                                    <div class="contact-us">
                                                        <h2 class="contact-us-h2">
                                                            联系我们:
                                                            <span>13888918732</span>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</block>