    <ul id="user-leftbar">
        <li class="message-settings">
            <a class="message-settings-hover <eq name='ACTION_NAME' value='suppliermessages'>settings-active</eq>" href="{:U('User/suppliermessages')}">
                <h3>消息管理&nbsp;&nbsp;>
                    <span>服务通知&nbsp;派单通知</span>
                </h3>
            </a>
        </li>
        <li class="shop-settings">
            <a class="shop-settings-hover <eq name='ACTION_NAME' value='supplierproductclass'>settings-active</eq>" href="{:U('User/supplierproductclass')}">
                <h3>发布商品&nbsp;&nbsp;></h3>
            </a>
        </li>
        <li class="message-settings">
            <a class="message-settings-hover <eq name='ACTION_NAME' value='supplierproducts'>settings-active</eq>" href="{:U('User/supplierproducts')}">
                <h3>商品管理&nbsp;&nbsp;>
                    <span>宝贝&nbsp;&nbsp;&nbsp;&nbsp;库存</span>
                </h3>
            </a>
        </li>
        <li class="acknowledgement-settings">
            <a class="acknowledgement-settings-hover <eq name='ACTION_NAME' value='supplierorders'>settings-active</eq>" href="{:U('User/supplierorders',array('status'=>3))}">
                <h3>订单管理&nbsp;&nbsp;>
                    <span>交易完成 &nbsp;&nbsp;&nbsp;&nbsp;待付款</span>
                    <span>待收货 &nbsp;&nbsp;&nbsp;&nbsp;待评价</span>
                </h3>
            </a>
        </li>
        <li class="shop-settings">
            <a class="shop-settings-hover <eq name='ACTION_NAME' value='suppliercomments'>settings-active</eq>" href="{:U('User/suppliercomments')}">
                <h3>评价管理&nbsp;&nbsp;></h3>
            </a>
        </li>
    </ul>