    <extend name="Base/common"/>

    <block name="style">
        <link href="__CSS__/store.css" rel="stylesheet">
        <link href="__CSS__/storecons.css" rel="stylesheet">
    </block>

    <block name="side"></block>
    <block name="javascript">
        <script type="text/javascript" src="__JS__/the-bd.js"></script>
    </block>
    <block name="body">

    <div class="control">
        <div class="fixed-head">
            <div class="fixed-head-left" onmouseover="display15()" onmouseleave="disappear15()">
                <a class="store-headico" href="#"><img src="__IMG__/store-head-sm.png" alt=""/></a>
                <a class="store-name" href="#"><span>Provence</span></a>
            </div>
            <div class="fixed-head-right" onmouseover="display15()" onmouseout="disappear15()" id="store-fixed">
                <div class="fixed-head-right-1">
                    <span>店主人：Provence</span>
                    <span>QQ号：22222222</span>
                    <span>联系电话：12345678900</span>
                </div>
                <div class="fixed-head-right-2">
                    <img src="__IMG__/store-er-wei-ma.png" alt=""/>
                    <div class="fixed-head-right-2-notice">
                        <h2>公告栏</h2>
                        <span>亲们，12月28号有厂家促销活动记得来喔！</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="banner">
        <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
            <ul class="am-slides">
                <li><img src="__IMG__/storecons-banner1.jpg" /></li>
                <li><img src="__IMG__/storecons-banner2.jpg" /></li>
                <li><img src="__IMG__/storecons-banner3.jpg" /></li>
            </ul>
        </div>
    </div>
    <div id="content-layout">
    <div id="left-layout">
        <div id="fasten">
            <div id="leftbar" data-am-sticky="{top:42}">
                <ul id="store-list">
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="dress"></a>
                    </li>
                    <li class="left-nav-list">
                        <a href="#" class="shoes"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="centre-layout">
        <div id="cons-ico">
            <img src="__IMG__/dressico.png" alt=""/>
            <span>服装</span>
        </div>
        <div id="wares">
            <div class="three-block1">
                <a onmouseover="display6()" onmouseleave="disappear6()" href="{:U('Store/trailer_goods')}">
                    <div class="wares-flow">
                        <img src="__IMG__/shangping1.png"
                             alt=""/>

                        <div onmouseover="display6()" onmouseout="disappear6()" id="tag6" class="price">
                            <p>奢华玫瑰香型爽肤水</p>
                            <p>（纯正法国进口）</p>
                        </div>
                        <div onmouseover="display6()" onmouseleave="disappear6()" id="caveat6" class="caveat">
                            <p>价格：<span class="fuhao">￥</span> <span class="shuzi">319</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="three-block1">
                <a onmouseover="display7()" onmouseleave="disappear7()" href="{:U('Store/trailer_goods')}">
                    <div class="wares-flow">
                        <img src="__IMG__/shangping2.png"
                             alt=""/>

                        <div onmouseover="display7()" onmouseout="disappear7()" id="tag7" class="price">
                            <p>奢华玫瑰香型爽肤水</p>
                            <p>（纯正法国进口）</p>
                        </div>
                        <div onmouseover="display7()" onmouseleave="disappear7()" id="caveat7" class="caveat">
                            <p>价格：<span class="fuhao">￥</span> <span class="shuzi">319</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="three-block1">
                <a onmouseover="display8()" onmouseleave="disappear8()" href="{:U('Store/trailer_goods')}">
                    <div class="wares-flow">
                        <img src="__IMG__/shangping3.png"
                             alt=""/>

                        <div onmouseover="display8()" onmouseout="disappear8()" id="tag8" class="price">
                            <p>奢华玫瑰香型爽肤水</p>
                            <p>（纯正法国进口）</p>
                        </div>
                        <div onmouseover="display8()" onmouseleave="disappear8()" id="caveat8" class="caveat">
                            <p>价格：<span class="fuhao">￥</span> <span class="shuzi">319</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="three-block1">
                <a onmouseover="display9()" onmouseleave="disappear9()" href="{:U('Store/trailer_goods')}">
                    <div class="wares-flow">
                        <img src="__IMG__/shangping1.png"
                             alt=""/>

                        <div onmouseover="display9()" onmouseout="disappear9()" id="tag9" class="price">
                            <p>奢华玫瑰香型爽肤水</p>
                            <p>（纯正法国进口）</p>
                        </div>
                        <div onmouseover="display9()" onmouseleave="disappear9()" id="caveat9" class="caveat">
                            <p>价格：<span class="fuhao">￥</span> <span class="shuzi">319</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="three-block1">
                <a onmouseover="display10()" onmouseleave="disappear10()" href="{:U('Store/trailer_goods')}">
                    <div class="wares-flow">
                        <img src="__IMG__/shangping2.png"
                             alt=""/>

                        <div onmouseover="display10()" onmouseout="disappear10()" id="tag10" class="price">
                            <p>奢华玫瑰香型爽肤水</p>
                            <p>（纯正法国进口）</p>
                        </div>
                        <div onmouseover="display10()" onmouseleave="disappear10()" id="caveat10" class="caveat">
                            <p>价格：<span class="fuhao">￥</span> <span class="shuzi">319</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="three-block1">
                <a onmouseover="display11()" onmouseleave="disappear11()" href="{:U('Store/trailer_goods')}">
                    <div class="wares-flow">
                        <img src="__IMG__/shangping3.png"
                             alt=""/>

                        <div onmouseover="display11()" onmouseout="disappear11()" id="tag11" class="price">
                            <p>奢华玫瑰香型爽肤水</p>
                            <p>（纯正法国进口）</p>
                        </div>
                        <div onmouseover="display11()" onmouseleave="disappear11()" id="caveat11" class="caveat">
                            <p>价格：<span class="fuhao">￥</span> <span class="shuzi">319</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="three-block1">
                <a onmouseover="display12()" onmouseleave="disappear12()" href="{:U('Store/trailer_goods')}">
                    <div class="wares-flow">
                        <img src="__IMG__/shangping1.png"
                             alt=""/>

                        <div onmouseover="display12()" onmouseout="disappear12()" id="tag12" class="price">
                            <p>奢华玫瑰香型爽肤水</p>
                            <p>（纯正法国进口）</p>
                        </div>
                        <div onmouseover="display12()" onmouseleave="disappear12()" id="caveat12" class="caveat">
                            <p>价格：<span class="fuhao">￥</span> <span class="shuzi">319</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="three-block1">
                <a onmouseover="display13()" onmouseleave="disappear13()" href="{:U('Store/trailer_goods')}">
                    <div class="wares-flow">
                        <img src="__IMG__/shangping2.png"
                             alt=""/>

                        <div onmouseover="display13()" onmouseout="disappear13()" id="tag13" class="price">
                            <p>奢华玫瑰香型爽肤水</p>
                            <p>（纯正法国进口）</p>
                        </div>
                        <div onmouseover="display13()" onmouseleave="disappear13()" id="caveat13" class="caveat">
                            <p>价格：<span class="fuhao">￥</span> <span class="shuzi">319</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="three-block1">
                <a onmouseover="display14()" onmouseleave="disappear14()" href="{:U('Store/trailer_goods')}">
                    <div class="wares-flow">
                        <img src="__IMG__/shangping3.png" alt=""/>

                        <div onmouseover="display14()" onmouseout="disappear14()" id="tag14" class="price">
                            <p>奢华玫瑰香型爽肤水</p>
                            <p>（纯正法国进口）</p>
                        </div>
                        <div onmouseover="display14()" onmouseleave="disappear14()" id="caveat14" class="caveat">
                            <p>价格：<span class="fuhao">￥</span> <span class="shuzi">319</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>

    </block>