.makerauth-head{
    width: 40%;
    margin-left: 30%;
    float: left;
    margin-top: 150px;
    text-align: left;
}
.makerauth-head i{
    width: 95px;
    height: 95px;
    float: left;
    background-image: url("../images/auth-success.png");
    background-repeat: no-repeat;
}
.makerauth-head span{
    font-family: "微软雅黑";
    font-size: 24px;
    padding-left: 20px;
    line-height: 95px;
}
.makerauth-content{
    width: 50%;
    float: left;
    margin-left: 35%;
    margin-top: 50px;
    text-align: left;
}
.makerauth-content span{
    display: block;
    font-family: "微软雅黑";
    font-size: 18px;
    line-height: 2;
}






@media all and (max-width: 750px){
    .acknowledgement-settings span{
        display: none;
    }.acknowledgement-settings-hover{
         width: 100%;
     }


    .makerauth-head{
        width: auto;
        margin-top: 0;
    }
    .makerauth-head span{
        width: 100%;
        float: left;
        line-height: normal;
        padding: 0;
    }
    .makerauth-content{
        width: auto;
        margin-left: 30%;
        margin-top: 25px;
    }
}

@media all and (min-width: 751px) and (max-width: 1199px){

}

















