.register-success{
    width: 100%;
    float: left;
}
.tab1-register{
    margin-top: 90px;
}
.submit-success{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.submit-success-span{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #292A2D;
}
.view-progress{
    width: 100%;
    float: left;
    margin-top: 100px;
    margin-bottom: 50px;
}
.view-progress-btn{
    padding: 20px;
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: bold;
    color: #292A2D;
    background-color: #f0b003;
}





















