<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/trailer.css" rel="stylesheet">
    <link href="__CSS__/bigtu.css" rel="stylesheet">
    <link href="__CSS__/good-size.css" rel="stylesheet">
</block>

<block name="side"></block>
<block name="javascript">
    <script type="text/javascript" src="__JS__/the-bd.js"></script>
</block>
<block name="body">
<div id="content-layout">
<div id="goods-top">
    <h3>预告>美妆</h3>
</div>
<div id="MagnifierWrap2">
    <div class="MagnifierMain">
        <img class="MagTargetImg" src="__IMG__/product-display.png">
    </div>
    <span class="spe_leftBtn">&lt;</span>
    <span class="spe_rightBtn">&gt;</span>

    <div class="spec-items">
        <ul>
            <li class="on"><img src="__IMG__/product-display.png"></li>
            <li><img src="__IMG__/product-display.png"></li>
            <li><img src="__IMG__/product-display.png"></li>
            <li><img src="__IMG__/product-display.png"></li>
            <li><img src="__IMG__/product-display.png"></li>
        </ul>
    </div>
</div>
<div id="good-description">
    <div id="good-title">
        <h3>奢华玫瑰香型爽肤水</h3>
    </div>
    <div id="good-note">
        <span>包邮</span>
        <span>正品</span>
        <span>质量优</span>
        <span>商家已认证</span>
    </div>
    <div id="good-trait">
        <ul>
            <li>法国原装进口</li>
            <li>产假直销品质保证</li>
            <li>全国三仓急速发货到家</li>
        </ul>
    </div>
    <div id="start-sale">
        <p>9月13日10:00<span>开售</span></p>
    </div>
    <div id="size-color">
        <div class="sys_item_spec">
            <dl class="clearfix iteminfo_parameter sys_item_specpara" data-sid="2">
                <dt>选择型号</dt>
                <dd>
                    <ul class="sys_spec_text">
                        <li data-aid="13"><a href="javascript:;" title="S">15</a><i></i></li>
                        <li data-aid="14"><a href="javascript:;" title="M">20</a><i></i></li>
                        <li data-aid="16"><a href="javascript:;" title="L">30</a><i></i></li>
                        <!--<li data-aid="17"><a href="javascript:;" title="XL">XL</a><i></i></li>-->
                    </ul>
                </dd>
                <dt>单位：ML</dt>
            </dl>
            <dl class="clearfix iteminfo_parameter sys_item_specpara" data-sid="1">
                <dt>选择颜色</dt>
                <dd>
                    <ul class="sys_spec_img">
                        <li data-aid="3"><a href="javascript:;" title="白色"><img src="__IMG__/product-display.png" alt="白色" /></a><i></i></li>
                        <li data-aid="4"><a href="javascript:;" title="粉色"><img src="__IMG__/product-display.png" alt="粉色" /></a><i></i></li>
                        <li data-aid="8"><a href="javascript:;" title="蓝色"><img src="__IMG__/product-display.png" alt="蓝色" /></a><i></i></li>
                        <!--<li data-aid="9"><a href="javascript:;" title="绿色"><img src="img/4.png" alt="绿色" /></a><i></i></li>-->
                        <!--<li data-aid="10"><a href="javascript:;" title="黄色"><img src="img/5.png" alt="黄色" /></a><i></i></li>-->
                        <!--<li data-aid="12"><a href="javascript:;" title="灰色"><img src="img/6.png" alt="灰色" /></a><i></i></li>-->
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <div id="good-price-warn">
        <div id="price-warn-content">
            <s>￥540.00</s>
            <span>￥319.00</span>
            <button type="button">开团提醒</button>
        </div>
    </div>
    <div id="collect-enjoy">
        <div id="collect-btn">
            <button id="colbtn" onclick="collect();" type="button">收藏1388</button>
        </div>
        <div id="enjoy-btn">
            <button id="enjbtn" onclick="enjoy();" type="button">喜欢1980</button>
        </div>
    </div>
</div>
<div id="good-comment-details" class="am-tabs" data-am-tabs>
    <ul id="good-nav" class="am-tabs-nav am-nav am-nav-tabs">
        <li><a href="#tab1">评论</a></li>
        <li><a href="#tab2">商品详情</a></li>
    </ul>
    <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade" id="tab1">
            <div id="good-comment">
                <div class="two-block1">
                    <div class="info-flow">
                        <a href=""><img src="__IMG__/comments-head.png" alt=""/></a>
                        <div class="publish-box2">
                            <p>本人姓胡，油性肌肤，用了之后</p>
                            <p>感觉肌肤清爽了很多，粉嫩粉嫩的</p>
                            <p>感觉倍儿爽......</p>
                            <p>发布时间：2015年8月6日9:21</p>
                            <a class="transmit-ico" href="#"><span>转发</span></a>
                            <a class="reply-ico" href="#"><span>回复</span></a>
                            <a class="utility-ico" href="#"><span>有用(35)</span></a>
                        </div>
                    </div>
                </div>
                <div class="two-block1">
                    <div class="info-flow2">
                        <a href=""><img src="__IMG__/comments-head.png" alt=""/></a>
                        <div class="publish-box2">
                            <p>本人姓胡，油性肌肤，用了之后</p>
                            <p>感觉肌肤清爽了很多，粉嫩粉嫩的</p>
                            <p>感觉倍儿爽......</p>
                            <p>发布时间：2015年8月6日9:21</p>
                            <a class="transmit-ico" href="#"><span>转发</span></a>
                            <a class="reply-ico" href="#"><span>回复</span></a>
                            <a class="utility-ico" href="#"><span>有用(35)</span></a>
                        </div>
                    </div>
                </div>
                <div class="two-block1">
                    <div class="info-flow">
                        <a href=""><img src="__IMG__/comments-head.png" alt=""/></a>
                        <div class="publish-box2">
                            <p>本人姓胡，油性肌肤，用了之后</p>
                            <p>感觉肌肤清爽了很多，粉嫩粉嫩的</p>
                            <p>感觉倍儿爽......</p>
                            <p>发布时间：2015年8月6日9:21</p>
                            <a class="transmit-ico" href="#"><span>转发</span></a>
                            <a class="reply-ico" href="#"><span>回复</span></a>
                            <a class="utility-ico" href="#"><span>有用(35)</span></a>
                        </div>
                    </div>
                </div>
                <div class="two-block1">
                    <div class="info-flow2">
                        <a href=""><img src="__IMG__/comments-head.png" alt=""/></a>
                        <div class="publish-box2">
                            <p>本人姓胡，油性肌肤，用了之后</p>
                            <p>感觉肌肤清爽了很多，粉嫩粉嫩的</p>
                            <p>感觉倍儿爽......</p>
                            <p>发布时间：2015年8月6日9:21</p>
                            <a class="transmit-ico" href="#"><span>转发</span></a>
                            <a class="reply-ico" href="#"><span>回复</span></a>
                            <a class="utility-ico" href="#"><span>有用(35)</span></a>
                        </div>
                    </div>
                </div>
                <div class="two-block1">
                    <div class="info-flow">
                        <a href=""><img src="__IMG__/comments-head.png" alt=""/></a>
                        <div class="publish-box2">
                            <p>本人姓胡，油性肌肤，用了之后</p>
                            <p>感觉肌肤清爽了很多，粉嫩粉嫩的</p>
                            <p>感觉倍儿爽......</p>
                            <p>发布时间：2015年8月6日9:21</p>
                            <a class="transmit-ico" href="#"><span>转发</span></a>
                            <a class="reply-ico" href="#"><span>回复</span></a>
                            <a class="utility-ico" href="#"><span>有用(35)</span></a>
                        </div>
                    </div>
                </div>
                <div class="two-block1">
                    <div class="info-flow2">
                        <a href=""><img src="__IMG__/comments-head.png" alt=""/></a>
                        <div class="publish-box2">
                            <p>本人姓胡，油性肌肤，用了之后</p>
                            <p>感觉肌肤清爽了很多，粉嫩粉嫩的</p>
                            <p>感觉倍儿爽......</p>
                            <p>发布时间：2015年8月6日9:21</p>
                            <a class="transmit-ico" href="#"><span>转发</span></a>
                            <a class="reply-ico" href="#"><span>回复</span></a>
                            <a class="utility-ico" href="#"><span>有用(35)</span></a>
                        </div>
                    </div>
                </div>
                <div class="two-block1">
                    <div class="info-flow">
                        <a href=""><img src="__IMG__/comments-head.png" alt=""/></a>
                        <div class="publish-box2">
                            <p>本人姓胡，油性肌肤，用了之后</p>
                            <p>感觉肌肤清爽了很多，粉嫩粉嫩的</p>
                            <p>感觉倍儿爽......</p>
                            <p>发布时间：2015年8月6日9:21</p>
                            <a class="transmit-ico" href="#"><span>转发</span></a>
                            <a class="reply-ico" href="#"><span>回复</span></a>
                            <a class="utility-ico" href="#"><span>有用(35)</span></a>
                        </div>
                    </div>
                </div>
                <div class="two-block1">
                    <div class="info-flow2">
                        <a href=""><img src="__IMG__/comments-head.png" alt=""/></a>
                        <div class="publish-box2">
                            <p>本人姓胡，油性肌肤，用了之后</p>
                            <p>感觉肌肤清爽了很多，粉嫩粉嫩的</p>
                            <p>感觉倍儿爽......</p>
                            <p>发布时间：2015年8月6日9:21</p>
                            <a class="transmit-ico" href="#"><span>转发</span></a>
                            <a class="reply-ico" href="#"><span>回复</span></a>
                            <a class="utility-ico" href="#"><span>有用(35)</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-tab-panel am-fade" id="tab2">
            <div id="good-details">
                <img src="__IMG__/good-details.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="__JS__/fangda.js"></script>
<script type="text/javascript" src="__JS__/size-color.js"></script>
</block>