<extend name="Base/common"/>
<block name="style">

</block>
<block name="javascript">

</block>

<block name="side"></block>

<block name="body">

    <style>
        h2{
            font-family: "微软雅黑";
            display: block;
        }
        p{
            font-size: 18px;
            font-family: "微软雅黑";
            text-align: left;
        }
        h4{
            font-family: "微软雅黑";
            font-size: 20px;
            text-align: left;
        }
        .control-word{
            width: 1200px;
            margin: 60px auto;
        }

        @media only screen and (min-width: 751px) and (max-width: 1199px){
            .control-word{
                margin: 50px auto;
                padding: 0 12px;
                width: auto;
            }
        }
    </style>


    <div class="control-word">
        <h2>关于慧爱创客</h2>
        <p>慧爱创客帮扶大学生成功创业运营模式</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慧爱创客是一个封闭式的大学生创业专业平台，封闭性体现为入驻对象是有条件限制的。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慧爱创客采用会员制管理系统，会员有两类，一类是中国高校在校大一至大四学生会员，一类是各种机构会员（中国驰名商标企业、各级各类龙头企业、各级各类著名商标企业、各级各类优质服务提供商、云南省农业产品企业及农户）。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慧爱创客的资源交易系统主要功能是引领、帮扶、支撑大学生成功创业。每个大学生：1. 利用自身的人力资源特质；2. 利用所代理的大学教师人力资源特质；3. 利用所代理的家族资源特质与机构生存发展运营所需资源进行信息比对、匹配、契合后，进入资源交易。或者每个大学生将自己的三类资源与其他大学生的1、2、3类资源进行归集、整合、融合后再与机构生存发展运营所需资源进行信息比对、匹配、契合后，进入资源交易。资源交易就是大学生创业项目诞生之时，大学生与其他大学生进行所带资源的归集、整合与融合就是大学生创业团队组建之时。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大学生个人或团队与机构完成资源交易后，要么可以从机构处获得项目运营部分或全部资金，要么可以在慧爱资源交易系统中与风投、创投、天使投资或慧爱创客平台内各种闲置资金进行融资。也即，慧爱创客资源交易系统及交易资源可以完成大学生创业项目的融资。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大学生在慧爱创客平台上完成创业项目获取、创业团队组建、创业项目的融资后，就可以进入项目运营。大学生创业团队可以在慧爱创客平台上完成项目线上运营与管理，也可以带着项目入驻适合的创业园区或孵化园区。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慧爱创客是孕育大学生创业项目的领地，有着得天独厚的优势可以在第一时间看到优质创业项目的诞生，可以在第一时间触碰这些优质创业项目，慧爱创客作为云南本土企业，有着深深的引领这些优质创业项目入滇的情结。在此，我们恳请云南省科技厅能够率先给予我们较好的帮扶、支持、支撑条件，以吸引云南省内各种政策帮扶、支持、支撑慧爱创客打造出吸引这些优质创业项目入驻云南昆明的优势条件。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慧爱创客引领大学生步入家族职业买手行列运营模式</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慧爱创客的大学生会员身后带着庞大的消费者资源，一是高校教师、二是家族亲人。家庭成员的生存发展所需的商品或服务，家庭成员经营机构所需的物质资源品或服务基本上可以通过大学生代理采购、订购，因为大学生对面就是各种优质商品制造商与各种优质服务提供商会员。慧爱创客封闭式交易平台，造就了大学生作为家族职业买手比起社会上任何一个群体都有着绝对的优势（优势的核心是：在机构的眼中，慧爱创客上庞大的大学生群体是他们无需支付一分钱薪酬的终端电商销售团队，机构商品或服务通过大学生之手直达消费者手中，销售量大、销售速度快、资金回流快而安全驱使机构步入薄利多销机制），这个优势结果致使大学生可以拿到品牌商品的最惠价，这是大学生实现家族亲人消费梦想的先决条件。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人类生存的趋优法则会让大学生家族亲人坚决拥护他们的电商采购、订购的代理人，这会致使大学生家族职业买手这个职业步入良性发展态势。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大学生家族职业买手现象可以界定为大学生自主创业结果，也可以界定为开创了大学生就业出路的一种新兴行业、新兴职业岗位。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慧爱创客是集资源交易、商品交易为一体的大学生专业创业平台。</p>
        <h4>可提供的服务</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、大学生个人、团队成功创业服务平台提供大学生进入慧爱创客创业的入驻服务。引领大学生个人成功创业的引导服务平台提供。大学生创意转化为创业项目服务平台提供。 大学生创业项目寻找创业伙伴服务平台提供。大学生碎片创意联结成完整创意服务平台提供。大学生创业项目完成所需资源挖掘、归集、整合、融合服务平台提供。大学生创业项目融资服务平台提供。 大学生创业项目融资对象引入服务。挖掘、启发、归集各种闲置资金主体进入大学生创业领域服务。各种闲置资金直视大学生创业项目逐利服务平台提供。机构直视大学生创业项目、创业过程所需资源提供服务平台提供大学教师人力资源直视大学生创业项目、创业过程所需资源提供服务平台提供。大学生个人或团队直视大学生创业个人或团队创业项目、创业过程所需资源提供服务平台提供。大学生家族资源直视大学生创业个人或团队创业项目、创业过程所需资源提供服务平台提供。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、资源交易服务平台提供机构直视大学生细化人力资源信息市场并完成交易服务平台提供。机构直视大学生代理大学教师细化人力资源信息市场并完成交易服务平台提供。机构直视大学生代理家族资源信息市场并完成交易服务平台提供。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、商品交易服务平台提供大学生担任家族职业买手，在慧爱创客的商品交易服务平台上完成家族亲人所需商品的采购、订购、快递安排等工作。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、大学生个人、团队在慧爱创客平台上操作行为数据提供服务大学生个人、团队在慧爱创客平台上的创业经历行为数据、走向创业经历行为数据、职场实战训练历程行为数据提供。</p>
    </div>

</block>