<extend name="Base/common"/>
<block name="style">

</block>
<block name="javascript">

</block>

<block name="side"></block>

<block name="body">

    <style>
        h2{
            font-family: "微软雅黑";
            display: block;
        }
        p{
            font-size: 18px;
            font-family: "微软雅黑";
            text-align: left;
        }
        h3{
            font-size: 1.25em;
            text-align: left;
        }
        h4{
            font-family: "微软雅黑";
            font-size: 20px;
            text-align: left;
        }
        .control-word{
            width: 1200px;
            margin: 60px auto;
        }
        @media only screen and (min-width: 751px) and (max-width: 1199px){
            .control-word{
                margin: 50px auto;
                padding: 0 12px;
                width: auto;
            }
        }
    </style>


    <div class="control-word">
        <h2>网站运营规范</h2>
        <h3>一、角色说明：</h3>
        <p>
            1、“平台”是指慧爱创客平台
            <br/>
            2、“创客”是指在校大学生及在校大学生机构
            <br/>
            3、“供应商”是指在平台上为创客提供产品的生产企业
        </p>
        <h3>二、产品说明：</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;供应商提供的商品质量的好与坏，高与低是供应商选择的第一条件。供应商最好应取得ISO的系列认证，并有质量合格证、商检合格证等。
            在我国商品的产品执行标准有国家标准、专业（部）标准及企业标准，其中又分为强制性标准和推荐性标准。但通常在买卖的合同或订单上，供应商的商品质量是以下各种形式其中的一种来表示，这也是选择供应商的重要标准之一。
            <br/>
            （1）市场上商品的等级；
            <br/>
            （2）品牌；
            <br/>
            （3）商业上常用的标准；
            <br/>
            （4）物理或化学的规格；
            <br/>
            （5）性能的规格；
            <br/>
            （6）工程图；
            <br/>
            （7）样品（卖方或买方）；
            <br/>
            （8）以上的组合。
        </p>
        <h3>三、创客说明：</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慧爱创客平台是专门针对“创客”而研发的网络兼职平台，创客采用在平台开店的模式对平台所有产品进行销售。平台负责对供应商的产品以及供应商资质进行审核，审核通过的产品才能供创客销售，创客有权对平台所有产品进行加入自己店铺、销售操作。</p>
        <h3>四、销售说明：</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慧爱创客平台有权供应商提供的产品进行审核，供应商应按照“平台”要求提供资料以供审核；“平台”审核通过的产品，将正式进入“平台”销售，不得随意下架或删除产品，如活动产品，供应商不得对产品进行任意修改（库存、单价、描述）。否则“平台”将对供应商进行处罚。</p>
        <h3>五、订单说明：</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;考虑到创客实际情况，针对创客销售出产品直接生成订单至供应商处，由供应商统一配货，供应商须及时处理每笔订单，并按订单需求进行配、发货。</p>
    </div>

</block>