<extend name="Base/common"/>
<block name="style">

</block>
<block name="javascript">

</block>

<block name="side"></block>

<block name="body">

    <style>
        h2{
            font-family: "微软雅黑";
            display: block;
        }
        p{
            font-size: 18px;
            font-family: "微软雅黑";
            text-align: left;
        }
        h3{
            font-size: 1.25em;
            text-align: left;
        }
        h4{
            font-family: "微软雅黑";
            font-size: 20px;
            text-align: left;
        }
        .control-word{
            width: 1200px;
            margin: 60px auto;
        }
        @media only screen and (min-width: 751px) and (max-width: 1199px){
            .control-word{
                margin: 50px auto;
                padding: 0 12px;
                width: auto;
            }
        }
    </style>


    <div class="control-word">
        <h2>安全中心</h2>
        <p style="font-weight: 600">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们尊重您的资料和私隐权。承诺在遵守个人资料（私隐）条例的规定时，将完全符合国际认可的保障个人资料私隐（准则），并确保公司职员遵守最严格的安全和保密准则。</p>
        <p>
            一、本网站将对您所提供的资料会进行严格的管理及保护，并将使用相应的技术，防止您个人资料的丢失、被盗用或被篡改。
        </p>
        <p>
            二、本网站在必要时将会由专业技术人员代为对该类信息资料进行电脑处理，以用来符合专业分工的要求。如本网站届时将电脑处理通知送达予您，而您未在通知规定的时间内表示反对，将会被本网站视为默认。
        </p>
        <p>
            三、本网站将对您在商城所购商品信息进行严格保密。
        </p>
        <p>
            四、本网站非常重视对用户隐私权的保护，承诺不会在未获得用户许可的情况下擅自将用户的个人资料信息泄露给任何第三方，但以下情况除外：
            <br/>
            1、政府部门、司法机关等依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料；
            <br/>
            2、由于用户将个人密码告知他人或与他人共享注册账户，由此导致的任何个人资料泄露；
            <br/>
            3、任何由于计算机问题、黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营的不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等；
            <br/>
            4、由于与本网站链接的其他网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。
        </p>
        <p>
            五、本网站将建立和维持一合理的程序，以保护所有用户个人资料的保密性及安全性我们严格遵守国家相关法律法规，对用户的隐私信息进行严格的保护。
            <br/>
            1、我们采用世界最先进的加密技术，用户的注册信息、账户收支信息都以进行高强度的加密处理。
            <br/>
            2、我们设有严格的安全系统共，未经允许的员工不可获取您的相关信息。
            <br/>
            3、我们绝对不会将您的账户信息、银行信息以任何形式透露给第三方。
        </p>
        <p>
            六、本网站采取了各种措施以确保您进行购物等活动的安全性，可以有效地防止信息在传送中出现丢失，盗用或被篡改等情况。您可放心地在网上购买商品，享受网上购物的乐趣。
        </p>
    </div>

</block>